@model object

@*@Model*@

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>控制台</span></a></li>
            <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-link"></i> <span>登录页面</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>表格使用样例</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("list", "Home")"><i class="fa fa-circle-o"></i>基本样例</a></li>
                    <li><a href="@Url.Action("list2", "Home")"><i class="fa fa-circle-o"></i>加载数据</a></li>
                    <li><a href="@Url.Action("list3", "Home")"><i class="fa fa-circle-o"></i>实用样例</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>