
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/bootstrap/dist/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/font-awesome/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/Ionicons/css/ionicons.min.css")">
    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/select2/dist/css/select2.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/dist/css/AdminLTE.min.css")">
    <!-- iCheck -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/plugins/iCheck/square/blue.css")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Content/AdminLTE-2.4.3/html5shiv/html5shiv.min.js")"></script>
        <script src="@Url.Content("~/Content/AdminLTE-2.4.3/respond/respond.min.js")"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="stylesheet" href="@Url.Content("~/Content/Account/login.css")">
    @Html.Raw(Common.WebHelper.LoadJsConfig())
</head>
<body class="hold-transition login-page bg2">
    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("Login", "Account")"><b>广告业务系统</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            @*<p class="login-box-msg">欢迎您登录！</p>*@
            <form method="post">
                <!-- <div class="form-group has-feedback">
                    <div class="form-group">
                        <select class="form-control select2" name="loginType" id="loginType" style="width: 100%;">
                            <option value="">-- 请选择 --</option>
                            <option value="0">超级管理员</option>
                            <option value="1">管理员</option>
                            <option value="2">销售员</option>
                            <option value="3">录入员</option>
                            <option value="4">客服员</option>
                            <option value="5">财务员</option>
                            <option value="6">审核员</option>
                        </select>
                    </div>
                </div> -->
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="Email/Mobile phone">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="loginPwd" id="loginPwd" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback CheckCode-group">
                    <a href="javascript:;" onclick="javascript: document.getElementById('imgCheckCode').src = '/Handler/CheckCodeImg.ashx?t=' + (new Date()).getTime();" title="点击刷新"><img src="/Handler/CheckCodeImg.ashx" id="imgCheckCode" /></a>
                    <input type="text" class="form-control" name="loginCheckCode" id="loginCheckCode" placeholder="Code">
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" name="loginRememberMe" id="loginRememberMe"> 记住我
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="button" name="btnLogin" id="btnLogin" class="btn btn-primary btn-block btn-flat" style="margin-top: 5px;">登 录</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="#">忘记密码？</a>
            <!--<a href="register.html" class="text-center" style="float:  right;">点击注册 >></a>-->

        </div>
        <!-- /.login-box-body -->

        <div class="footer" style="margin: 20px 0px;text-align:  center;">Copyright &copy; 2018 某某公司 由<a href="https://hbdd.taobao.com/" class="text-center">好宝多多</a>技术支持</div>

    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/jquery/dist/jquery.min.js")"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
    <!-- Select2 -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/select2/dist/js/select2.full.min.js")"></script>
    <!-- iCheck -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/plugins/iCheck/icheck.min.js")"></script>

    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/plugins/layui/layui.all.js")"></script>
    <script src="@Url.Content("~/scripts/ClassBaoJavascript-1.0.0.js")"></script>
    <script src="@Url.Content("~/Content/Common.js")"></script>
    <script src="@Url.Content("~/Content/Account/login.js")"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            $(".select2").on("select2:select", function (e) {
                // e 的话就是一个对象 然后需要什么就 “e.参数” 形式 进行获取 
                //console.log(e);
                //console.log(e.params.data);
                $(this).val(e.params.data.id);
            });
            $(".select2").on("select2:unselect", function (e) {
                // e 的话就是一个对象 然后需要什么就 “e.参数” 形式 进行获取 
                //console.log(e);
                //console.log(e.params.data);
                $(this).val("");
            });

            //checkbox Or radio
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });

            $('input').on('ifChanged', function (event) {
                //输入框的 checked 或 disabled 状态改变了
                alert(event.type + ' callback');
                if ($(this).is(':checked')) {//就是这么简单
                    alert("Yes");
                }
                else {
                    alert("No");
                }
            });

        });
    </script>
</body>
</html>
