
@{
    Layout = null;
    ViewBag.Title = "实用样例-AdminLTE 2 | Bootstrap-Table Demo";
}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/bootstrap/dist/css/bootstrap.min.css")">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/Bootstrap-Table/dist/bootstrap-table.min.css")">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/font-awesome/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/Ionicons/css/ionicons.min.css")">
    
    <!-- bootstrap datetimepicker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css")">

    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/dist/css/AdminLTE.min.css")">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.3/dist/css/skins/skin-blue.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Content/AdminLTE-2.4.3/html5shiv/html5shiv.min.js")"></script>
        <script src="@Url.Content("~/Content/AdminLTE-2.4.3/respond/respond.min.js")"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="@Url.Content("~/Content/AdminLTE-2.4.3/dist/img/user2-160x160.jpg")" class="img-circle" alt="User Image">
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="@Url.Content("~/Content/AdminLTE-2.4.3/dist/img/user2-160x160.jpg")" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="@Url.Content("~/Content/AdminLTE-2.4.3/dist/img/user2-160x160.jpg")" class="img-circle" alt="User Image">
                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Content("~/Content/AdminLTE-2.4.3/dist/img/user2-160x160.jpg")" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">HEADER</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-link"></i> <span>登录页面</span></a></li>
                    <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>表格使用样例</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("list", "Home")"><i class="fa fa-circle-o"></i>基本样例</a></li>
                            <li><a href="@Url.Action("list2", "Home")"><i class="fa fa-circle-o"></i>加载数据</a></li>
                            <li><a href="@Url.Action("list3", "Home")"><i class="fa fa-circle-o"></i>实用样例</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Bootstrap-Table Demo
                    <small>Optional description</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content container-fluid">
                <!--------------------------
                  | Your Page Content Here |
                  -------------------------->
                <!-- Bootstrap-Table Demo Html Start xiongzaiqiren -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title"><a class="detail-icon" href="javascript:;" id="ConditionalSwitch">筛选条件 <i class="fa fa-minus"></i> </a></h3>
                                <div id="ConditionalContainer">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">邮箱:</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" >
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>日期时间:</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right" id="datetimepicker" value="2012-05-15 21:05" data-date-format="yyyy-mm-dd hh:ii">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="form-group">
                                                <label>时间范围:</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right" id="datetimepickerStart" value="2012-05-15 21:05" data-date-format="yyyy-mm-dd hh:ii">
                                                    <span class="input-group-addon">至</span>
                                                    <input type="text" class="form-control pull-right" id="datetimepickerEnd" value="2012-05-15 21:05" data-date-format="yyyy-mm-dd hh:ii">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 col-xs-3">
                                        </div>
                                        <div class="col-md-2 col-xs-4">
                                            <button type="button" class="btn btn-block btn-primary" id="btnConditional">检 索</button>
                                        </div>
                                        <div class="col-md-5 col-xs-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <table id="table"></table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- Bootstrap-Table Demo Html End xiongzaiqiren -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <!-- <script src="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/jquery/dist/jquery.min.js")"></script> -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/Bootstrap-Table/assets/jquery.min.js")"></script>
    <!-- Bootstrap 3.3.7 -->
    <!-- <script src="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/bootstrap/dist/js/bootstrap.min.js")"></script> -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/Bootstrap-Table/assets/bootstrap4/js/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/Bootstrap-Table/assets/bootstrap4/js/bootstrap.min.js")"></script>
    
    <!-- bootstrap datetimepicker -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/bower_components/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js")"></script>

    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/dist/js/adminlte.min.js")"></script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->
    <!-- Bootstrap-Table Demo JavaScript Start xiongzaiqiren -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/Bootstrap-Table/dist/bootstrap-table.min.js")"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.3/Bootstrap-Table/dist/locale/bootstrap-table-zh-CN.min.js")"></script>

    <script src="@Url.Content("~/scripts/ClassBaoJavascript-1.0.0.js")"></script>
    <script src="@Url.Content("~/scripts/common.js")"></script>
    <script>
        var myTable = $('#table');
        var queryParams = { name: "111" };

        $(function () {
            LoadList();
            $("#btnConditional").click(function () {
                LoadList();
            });

            //datetimepicker
            $('#datetimepicker, #datetimepickerStart, #datetimepickerEnd').datetimepicker({
                autoclose: true, // 选中之后自动隐藏日期选择框
                todayHighlight: true,
                clearBtn: true, //清除按钮
                todayBtn: true, //今日按钮
                language: "zh-CN" //语言设置
            });

        });

        function LoadList() {
            //先销毁表格
            myTable.bootstrapTable('destroy');
            //初始化表格,动态从服务器加载数据
            myTable.bootstrapTable({
                striped: true, //表格显示条纹
                pagination: true, //设置为 true 会在表格底部显示分页条。
                paginationDetailHAlign: 'left',
                paginationHAlign: 'right',
                pageSize: 3, //每页显示的记录数
                pageNumber: 1, //当前第几页
                pageList: [5, 10, 15, 20, 25], //记录数可选列表
                buttonsAlign: 'right',
                showColumns: true, //显示下拉框勾选要显示的列
                minimumCountColumns: 2, //最小隐藏列的数量。
                showRefresh: true, //显示刷新按钮
                showToggle: true, //是否显示切换视图（table/card）按钮。
                showPaginationSwitch: true, //是否显示切换分页按钮
                locale: "zh-CN",
                /*设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
                *设置为limit可以获取limit, offset, search, sort, order
                */
                //queryParamsType: "undefined",
                //sidePagination: 'client',
                icons: {
                    paginationSwitchDown: 'fa-chevron-down',
                    paginationSwitchUp: 'fa-chevron-up',
                    refresh: 'fa-refresh',
                    toggle: 'fa-list-alt',
                    columns: 'fa-th-list',
                    detailOpen: 'fa-plus',
                    detailClose: 'fa-minus'
                },
                url: "/Home/getlist3", //服务器数据的加载地址。
                method: "get", //服务器数据的请求方式 'get' 或 'post'。
                sidePagination: "server", //设置在哪里进行分页，可选值为 'client' 或者 'server'。设置 'server'时，必须设置服务器数据地址（url）或者重写ajax方法。
                queryParamsType: '',
                queryParams: function (params) {
                    //console.dir(params);
                    //return params;
                    queryParams.pageNumber = params.pageNumber;
                    queryParams.pageSize = params.pageSize;
                    queryParams.searchText = params.searchText;
                    queryParams.sortName = params.sortName;
                    queryParams.sortOrder = params.sortOrder;
                    console.log(queryParams);
                    return queryParams;
                },
                columns: [{
                    field: 'id',
                    title: 'Item ID'
                }, {
                    field: 'name',
                    title: 'Item Name'
                }, {
                    field: 'price',
                    title: 'Item Price'
                }],
                responseHandler: function (res) { //加载服务器数据之前的处理程序，可以用来格式化数据。参数：res为从服务器请求到的数据。
                    console.log(res);
                    if (!!res && 200 === res.status && !!res.data) {
                        return res.data;
                    }
                    else {
                        alert(res.message);
                    }
                    return res;
                },
                //data: function (data) { //格式化数据
                //    console.log(data);
                //    return data;
                //},
                selectItemName: 'id', //radio 或者 checkbox 的字段 name 名。
                detailView: true, //设置为 true 可以显示详细页面模式。
                detailFormatter: function (index, row) {
                    return '这是详细内容：' + index;
                }
            });
        }

    </script>
    <!-- Bootstrap-Table Demo JavaScript End xiongzaiqiren -->
</body>
</html>